body {
	background: url(images/me.jpg);
	background-attachment: scroll;
  	background-clip: border-box;
  	background-color: transparent;
  	background-origin: padding-box;
  	background-repeat: no-repeat;
  	background-size: 50%;
  	background-position: top right;
  	font-family: 'Source Code Pro' ;
  	padding-left: 5%;
}

a:link {color:#FF6BA0;}
a:visited {color:#FF6BA0;}  
a:hover {color:#FFCEF0;}  
a:active {color:#FF6BA0;}